* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  min-width: 320px;
}

ul {
  text-align: center;
  list-style-position: inside;
  padding: 0;
}

li {
  margin: 10px;
}

header {
  padding: 45px 15px;
  text-align: center;
}

.cocktail-item-name {
  font-size: 42px;
}

.cocktail-item-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5em;
  padding: 0px;
}

.cocktail-detail {
  padding: 0.5em;
}

.post-ratings {
  padding: 0.5em;
}

label {
  display: block;
}

.form-section {
  margin-bottom: 30px;
}

.cocktail-container-detail {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .cocktail-item-header {
    flex-direction: column;
    justify-content: center;
  }

  .cocktail-item-body {
    padding: 0 5em;
  }
}
