.register {
  width: 320px;
  margin: 3em auto;
  font-family: "Arvo";
  padding: 20px;
}

.register-wrapper {
  background-image: url("../images/row-of-cocktails2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    url("../images/two-cocktails-vertical.jpg");
  color: white;
  opacity: .9;
  height: 100%;
}

.register__form {
  font-family: "Spectral", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5em;
  padding: 10px 20px;
}

.register-header {
  text-align: center;
}

.register__form__credentials {
  text-align: center;
}

.register__form__credentials input {
  display: block;
  width: 90%;
  margin: 5px auto;
}

.register__form__controls {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.register__form__btn {
  margin-top: 15px;
  width: 8em;
}

input,
select,
textarea {
  font-size: 100%;
}

input,
textarea {
  width: 100%;
  max-width: 500px;
}

input[type="number"] {
  width: 50px;
}

#register-id {
  margin: 0 auto;
}

@media screen and (min-width: 450px) {
  .register {
    width: 500px;
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 2.5em;
  }

  .register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
